@import url("https://use.typekit.net/ocf4rtj.css");
input {
  width: 403px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px 0px 0px 25px;
  border: none;
  background: #fff;
  margin-top: 37px;
  color: var(--dark-blue, #212738);
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 500;
  padding-left: 28px;
  margin-left: 500px;
}

input::placeholder {
  color: #4d5b83;
  font-family: "Quicksand";
  font-size: 18px;
}

button {
  width: 125px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  font-family: "Quicksand";
  font-size: 22.405px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 37px;
  margin-left: -26px;
}

.notes {
  margin-top: 2.5rem;
}
