@import url("https://use.typekit.net/ocf4rtj.css");
* {
  margin: 0;
  padding: 0;
}

.To-do {
  display: flex;
}

h3 {
  color: #fff;
  font-family: "Quicksand";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
  margin-left: 655px;
}

.column2 {
  background: var(
    --Gradient,
    linear-gradient(27deg, #53389e 8.33%, #6941c6 91.67%)
  );
  flex-grow: 1;
  min-height: 1024px;
}
